html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* height of sticky header */
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.test {
  transition: all 2s ease;
}
.test:hover {
  transform: scale(1.3);
}

@media (min-width: 1px) {
  .showcase {
    height: calc(100vh - 60px);
  }
}
